html { 
    font-size: 16px; 
    overflow-y: auto; 
    -webkit-text-size-adjust: 16px; 
    -ms-text-size-adjust: 16px; 
}

.link-spanner {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;

  /* edit: fixes overlap error in IE7/8,
     make sure you have an empty gif
  background-image: url('empty.gif');*/
}

#course-info {
    position: relative;
    top: 2px;
    color: #fff;
    margin: 1em;
    /*position: absolute;*/
    /*width: 100%;*/
    /*text-align: center;*/
}

#course-info span {
    padding: 0.25em 1em;
    border: 2px solid #fff;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 16pt;
    font-weight: bold;
}

#course-info span:hover {
    background-color: rgba(255,255,255, 0.2);
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

#site-brand > ul
{
    margin-right: 10px;
}

/* SEARCH BAR */
#input-outer {
    height: 42px;
    width: 238px;
    border: 1px #f60 solid;
    background-color: white;
    border-radius: 10px;
    margin: 10px 25px 10px 0px;
}

#input-outer input {
    height: 42px;
    width: 189px;
    border-top: 1px #f60 solid;
    border-bottom: 1px #f60 solid;
    border-left: 0px white solid;
    border-right: 0px white solid;
    outline: none;
    margin: -1px 0 0 15px;
    border-radius: 0px;
    color: #666;
    font-weight: bolder;
}

#input-outer input::placeholder {
    font-weight: normal;
}

#clear {
    position: relative;
    float: right;
    height: 20px;
    width: 20px;
    top: 10px;
    right:10px;
    border-radius: 20px;
    background-color: #f1f1f1;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
/*/ SEARCH BAR */

.navbar-brand img
{
    height: 60px;
    position: relative;
    top: -15px;
}

#site-title
{
    position: relative;
    top: 6px;
    left: -15px;
    font-size: 25px;
    color: white;
    /*font-weight: bold;*/
    /*color: #f60;*/

}

#site-header
{
    background-color: #11accd;
    border-bottom: 1px solid #0b788f !important;
    /*background-color: #222;*/
    /*background-color: #252839;*/
    /*background-color: #222;*/
}

#site-header
{
    margin: 0px;
    border-radius: 0;
    border: 0;
    z-index: 200;
    /*top: 0;*/
    /*height: 64px;*/
    /*position: fixed;*/
    /*width: 100%;*/
}

#header-menu{
        position: absolute;
        right: 25px;
        top: 9px;
        display: flex;
        align-items: center;
    }

#header-menu img{
    vertical-align: inherit;
    width: 45px;
}

#header-menu .glyphicon{
        font-size: 21px;
        padding: 0 20px 0 0;
        color: #222;
        /*color: white;*/
    }

#header-menu .glyphicon:hover{
    color: white;
}

.highlight-match {
    background-color: yellow;
    font-weight: bold;
}

/********************************************************************/
/*This are the customized css for bootstrap and jquery mobile styles*/
.ui-content
{
    padding: 0 !important;
}

div[data-role="header"] {
    border: none;
    -ms-text-shadow: none;
    text-shadow: none !important;
}

div[data-role="header"] .ui-btn-icon-notext:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after {
    width: 33px;
    height: 33px;
    -ms-border-radius: 2em;
    border-radius: 2em;
}

div[data-role="header"] .ui-input-clear:after {
    width: 22px;
    height: 22px;
    -ms-border-radius: 1em;
    border-radius: 1em;
}

#leftpanel1 .ui-btn-icon-notext:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after {
    /*width: 33px;
    height: 33px;
    -ms-border-radius: 2em;
    border-radius: 2em;*/
}

div[data-role="page"]
{
    background-color: #efefef;
    min-height: 100% !important;
}

.ui-panel
{
    width: 15em;
}

/********************************************************************/
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Regular.ttf');
}

body {
    background-color: #333;
    /*font-family: 'PT Sans', sans-serif;*/
    font-family: 'Lato', sans-serif !important;
}

#recent-content-panel
{
    top: 48px;
    position: relative;
    overflow: scroll; /*height: 500px !important;*/
}

#salons-content-panel
{
    top: 48px;
    position: relative; /*overflow: auto;*/
    height: 90% !important;
}

.login-msg {
    border: thin solid red;
    padding: 10px;
}

.details
{
    overflow: hidden;
    max-height: 14px;
}


.center_div
{
    margin: 0 auto;
}

.details p {
    padding: 0 !important;
}

div[data-role="page"]
{
    /* overflow: hidden !important;     height: 100%;*/
}

.nav-tabs li a
{
    border-radius: 0;
    color: #00a9ff;
    /*height: 48px !important;     font-size: 18px !important;     line-height: 1;     background-color: #006499;*/
}

.div-item
{
    margin: 5px; /*border-bottom: thick solid #BDC3C7;*/
}

.home-btn
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    margin: 0 !important;
    width: 48px;
    height: 48px;
    background-color: #006499;
}

.close-panel-btn
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 0 !important;
    width: 48px;
    height: 48px;
    background-color: #006499;
}

.youtube_thumbnail
{
    /*height: 65px;*/
}

#menu_panel
{
    min-height: 1% !important;
}
#menu_panel_header, #menu_panel_list
{
    background-color: #006499;
}
#menu_panel_list
{
    height: 100%;
    border: thin solid #006499;
}
#menu_panel_list .user_name
{
    color: white;
}

.home_btn img
{
    width: 60px;
}

#menu_panel .avatar
{
    margin: 5px;
}

#menu_panel .avatar img
{
    width: 69px;
    border: 1px solid white !important;
}

.user_name
{
    font-size: 18px !important;
    text-align: left;
    font-weight: normal !important;
    font-family: "Lato", open-sans, sans-serif !important;
}

.menu_panel_list li a
{
    color: #626262 !important;
    text-align: center !important;
    font-size: 30px;
}
.menu_panel_list li a:after
{
    color: white !important;
}
.menu_panel_list .ui-btn-text
{
    text-align: center !important;
}

#menu_panel_list ul li
{
    height: 70px !important;
}

.video-owner-name
{
    font-family: 'Lato' , sans-serif;
    font-size: 9px;
}
.video-owner
{
    font-size: 12px;
    font-family: 'Lato' , sans-serif;
    font-weight: normal !important;
}
.video-details
{
    font-size: 12px;
    font-family: 'Lato' , sans-serif;
}

.video-salon-name
{
    /*font-size: 12px;
    font-family: 'Lato' , sans-serif;*/
}
.description
{
    font-family: 'Lato' , sans-serif;
    font-size: 20px;
}
.create-date
{
    font-family: 'Lato' , sans-serif;
}

.salon-details
{
    font-family: 'Lato' , sans-serif;
    font-size: 20px;
}

#salon_header
{
    height: 80px;
    background-color: #006499;
    text-align: center;
}

.salon-header-name
{
    color: white;
    font-size: 45px;
    line-height: 1.8;
    font-weight: bold;
}
#header-vid
{
    height: 20px;
    background-color: #006499;
    text-align: center;
}
#vid-viewer
{
    width: 100%;
    height: auto;
}
.vid-container
{
    height: 50% !important;
}
.selected-div-item
{
    background: #0099ff;
}


div[data-role="navbar"]
{
    /*border-top: 1px solid #006499 !important;*/
}

.ui-input-search.ui-corner-all {
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}


div[data-role="navbar"] a.ui-btn-active
{
    color: #006499 !important;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 100, 153, 1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0, 100, 153, 1);
    box-shadow: 0px 3px 0px 0px rgba(0, 100, 153, 1);
    background-color: #F7F7F7 !important;
    text-shadow: 0 0 !important;
    border-color: #F7F7F7 !important;
}

.salon-header-details
{
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 224, 216, 1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 224, 216, 1);
    box-shadow: 0px 2px 2px 0px rgba(0, 224, 216, 1);
}

a[data-icon="bars"]{
    /*width: 52px;
    height: 52px;*/
    top: 3px !important;
    left: 45px !important;
}

a[data-icon="home"]{
    /*width: 52px;
    height: 52px;*/
    top: 3px !important;
    right: 100px !important;
}

a[data-icon="back"]{
    /*width: 52px;
    height: 52px;*/
    top: 3px !important;
}

a[data-icon="power"]{
    /*width: 52px;
    height: 52px;*/
    top: 3px !important;
    right: 60px !important;
}

a[data-rel="close"]{
    /*width: 52px;
    height: 52px;*/
    top: 3px !important;
}

a[data-icon="refresh"]{
    top: 3px !important;
    left: 85px !important;
}



/******************************************************************************/
/**************************Styles for messages*********************************/

.message{
    background-size: 40px 40px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                        transparent 75%, transparent);
     box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
     width: 100%;
     border: 1px solid;
     color: #fff;
     padding: 15px;
     position: fixed;
     _position: absolute;
     text-shadow: 0 1px 0 rgba(0,0,0,.5);
     animation: animate-bg 5s linear infinite;
    bottom: 0;
}

.ui-focus .ui-tabs-active .ui-state-active {
 -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
}

.focusBtn:after {
    background-color: rgb(0, 167, 255);
    -webkit-box-shadow: 0px 0px 25px 0px rgba(122,182,255,1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(122,182,255,1);
    -ms-box-shadow: 0px 0px 25px 0px rgba(122,182,255,1);
    box-shadow: 0px 0px 25px 0px rgba(122,182,255,1);
}

.info{
     background-color: #4ea5cd;
     border-color: #3b8eb5;
}

.error{
     background-color: #de4343;
     border-color: #c43d3d;
}

.warning{
     background-color: #eaaf51;
     border-color: #d99a36;
}

.success{
     background-color: #61b832;
     border-color: #55a12c;
}

.message h3{
     margin: 0 0 5px 0;
}

.message p{
     margin: 0;
}

#add-question-btn {
    background-image:url('../img/plus-white.png');
    -ms-background-size: 20px 20px;
    background-position: center;
    background-size: 20px 20px;
    background-repeat:no-repeat;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999999;
    width: 40px;
    border-radius: 5px;
    height: 40px;
    border: none;
}
.js-marquee {
    padding: 4px !important;
}

.vname {
    font-size: 12px;
    padding: 5px;
    -ms-text-shadow: 0 0 0 0 white;
    text-shadow: 0 0 0 0 white;
    overflow: hidden;
    height: 21px;
    text-align: center;
}

.submitting {
    background-color: green;
}

@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

