html { 
    font-size: 16px; 
    overflow-y: auto; 
    -webkit-text-size-adjust: 16px; 
    -ms-text-size-adjust: 16px; 
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

#site-brand > ul
{
    margin-right: 10px;
}

/* SEARCH BAR */
#input-outer {
    height: 42px;
    width: 238px;
    border: 1px #c7c7c7 solid;
    background-color: white;
    border-radius: 10px;
    margin: 10px 25px 10px 0px;
}

#input-outer input {
    height: 42px;
    width: 189px;
    border-top: 1px #c7c7c7 solid;
    border-bottom: 1px #c7c7c7 solid;
    border-left: 0px white solid;
    border-right: 0px white solid;
    outline: none;
    margin: -1px 0 0 15px;
    border-radius: 0px;
    color: #666;
    font-weight: bolder;
}

#input-outer input::placeholder {
    font-weight: normal;
}

#clear {
    position: relative;
    float: right;
    height: 20px;
    width: 20px;
    top: 10px;
    right:10px;
    border-radius: 20px;
    background-color: #f1f1f1;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
/*/ SEARCH BAR */

.navbar-brand img
{
    height: 60px;
    position: relative;
    top: -15px;
}

#site-title
{
    position: relative;
    top: 6px;
    left: -15px;
    font-size: 25px;
    color: white;
}

#site-header
{
    background-color: white;
    border-bottom: 1px solid #c7c7c7 !important;
}

#site-header
{
    margin: 0px;
    border-radius: 0;
    border: 0;
    z-index: 200;
}

/* PAGE ICONS */
#page-icons
{
    margin: 10px 40px 10px 0px;
}

.page-icon
{
    padding: 0px 40px;
}

.page-icon-desc
{
    text-align: center;
}
/* /PAGE ICONS */

