{% extends "experiences/base.html" %}
{% load static %}

{# ---------------------------------------------------------------------------------------------- #}
{% block javascript %}
    {{ block.super }}
    <script src="{% static "/js/home.js" %}" type="text/javascript"></script>
{% endblock javascript %}
{# ---------------------------------------------------------------------------------------------- #}

{# ---------------------------------------------------------------------------------------------- #}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static "/css/home.css" %}">
{% endblock stylesheets %}
{# ---------------------------------------------------------------------------------------------- #}

{# ---------------------------------------------------------------------------------------------- #}
{% block templates %}
{% endblock templates %}
{# ---------------------------------------------------------------------------------------------- #}

{% block input %}
<input type="text" id="search-txt" placeholder="Search experiences" onkeyup="search()">
{% endblock input %}

{# ---------------------------------------------------------------------------------------------- #}
{% block page %}
{% verbatim %}
<body>
    <div class="container-fluid page-body">

        <!-- LIST OF EXPERIENCES TO EXPLORE  -->
        <div class="row" id="explore">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 category-title">
                        <b>Explore</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul>

                            <!-- EXAMPLE EXPERIENCE -->
                            <li class="experience-list-item">
                                <a href="">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <figure style="margin:0;">
                                                <img src="static/img/explore/explore-1.png" width="176" height="135"></img>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 experience-list-item-info">
                                            <h4 class="experience-name">
                                                <span>Afternoon on a Hobie Cat</span>
                                            </h4>
                                            <h4 style="margin-top:0px;">
                                                <span>$100</span>
                                            </h4>
                                            <h4 style="margin-top:0px;">
                                                <span>San Diego</span>
                                            </h4>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <!-- /EXAMPLE EXPERIENCE -->

                            <!-- EXAMPLE EXPERIENCE -->
                            <li class="experience-list-item">
                                <a href="">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <figure style="margin:0;">
                                                <img src="static/img/explore/explore-2.png" width="176" height="135"></img>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 experience-list-item-info">
                                            <h4 class="experience-name">
                                                <span>Jet Ski</span>
                                            </h4>
                                            <h4 style="margin-top:0px;">
                                                <span>$90/ Per Person</span>
                                            </h4>
                                            <h4 style="margin-top:0px;">
                                                <span>Miami</span>
                                            </h4>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <!-- /EXAMPLE EXPERIENCE -->

                            <!-- EXAMPLE EXPERIENCE -->
                            <li class="experience-list-item">
                                <a href="">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <figure style="margin:0;">
                                                <img src="static/img/explore/explore-3.png" width="176" height="135"></img>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 experience-list-item-info">
                                            <h4 class="experience-name">
                                                <span>Painting and Wine</span>
                                            </h4>
                                            <h4 style="margin-top:0px;">
                                                <span>$30/ Per Person</span>
                                            </h4>
                                            <h4 style="margin-top:0px;">
                                                <span>Princeton</span>
                                            </h4>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <!-- /EXAMPLE EXPERIENCE -->

                            <!-- EXAMPLE EXPERIENCE -->
                            <li class="experience-list-item">
                                <a href="">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <figure style="margin:0;">
                                                <img src="static/img/explore/explore-4.png" width="176" height="135"></img>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 experience-list-item-info">
                                            <h4 class="experience-name">
                                                <span>Sunrise Paddle Yoga</span>
                                            </h4>
                                            <h4 style="margin-top:0px;">
                                                <span>$60/ Per Person</span>
                                            </h4>
                                            <h4 style="margin-top:0px;">
                                                <span>Chicago</span>
                                            </h4>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <!-- /EXAMPLE EXPERIENCE -->

                            <!-- EXAMPLE EXPERIENCE -->
                            <li class="experience-list-item">
                                <a href="">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <figure style="margin:0;">
                                                <img src="static/img/explore/explore-5.png" width="176" height="135"></img>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 experience-list-item-info">
                                            <h4 class="experience-name">
                                                <span>Husky Sled Ride</span>
                                            </h4>
                                            <h4 style="margin-top:0px;">
                                                <span>$75</span>
                                            </h4>
                                            <h4 style="margin-top:0px;">
                                                <span>St. Pauls</span>
                                            </h4>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <!-- /EXAMPLE EXPERIENCE -->

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /LIST OF EXPERIENCES TO EXPLORE  -->

        <!-- TRENDING EXPERIENCES -->
        <div class="row" id="trending">
            <div class="col-md-12">
                <div class="row">                
                    <div class="col-md-12 category-title">
                        <b>Trending</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul>

                            <!-- EXAMPLE TRENDING EXPERIENCE -->
                            <li class="trending-experience-list-item">
                                <a href="">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <figure style="margin:0;">
                                                <img src="static/img/trending/trending-1.png" width="500" height="235"></img>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 trending-experience-list-item-info">
                                            <h4 class="trending-experience-name">
                                                <span>Wakeboard Lake Michigan</span>
                                            </h4>
                                            <h4 class="trending-experience-price">
                                                <span>Chicago $72</span>
                                            </h4>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <!-- /EXAMPLE TRENDING EXPERIENCE -->

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /TRENDING EXPERIENCES -->

    </div>
</body>
{% endverbatim %}
{% endblock page %}
{# ---------------------------------------------------------------------------------------------- #}